* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #7354e4;
}

#container {
    display: flex;    
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    width: 300px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 5px;
}

input {
    margin: 10px;
    width: 280px;
}

button {
    width: 280px;
    height: 30px;   
    background-color: #826ec9;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #7354e4;
}

#resp {
    margin: 10px;
}